In [1]:
#Day 2

#Library used to import data from google drive
!pip install -U -q PyDrive

In [2]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
 
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Data Source: https://www.kaggle.com/datasets/ivanmsiegfried/hematology?resource=download

In [3]:
import pandas as pd

In [4]:
file_link = "Google File Location"
file_name = "training_set.csv"


# to get the id part of the file
id = file_link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile(file_name) 
 
hema_csv = pd.read_csv(file_name)

In [5]:
hema_csv

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX,SOURCE
0,33.8,11.1,4.18,4.6,150,26.6,32.8,80.9,33,F,1
1,44.6,14.0,6.86,6.3,232,20.4,31.4,65.0,36,M,0
2,42.9,14.0,4.57,6.2,336,30.6,32.6,93.9,70,F,0
3,41.9,14.4,4.67,3.5,276,30.8,34.4,89.7,18,F,0
4,40.6,13.3,4.85,14.9,711,27.4,32.8,83.7,36,M,0
...,...,...,...,...,...,...,...,...,...,...,...
3304,39.0,13.2,4.45,4.0,50,29.7,33.8,87.6,45,M,1
3305,25.4,8.2,3.27,5.4,90,25.1,32.3,77.7,1,F,1
3306,38.2,12.4,4.40,8.4,328,28.2,32.5,86.8,64,M,0
3307,43.4,15.2,5.29,10.1,326,28.7,35.0,82.0,33,M,0
3308,32.4,10.7,3.66,9.4,214,29.2,33.0,88.5,72,F,1

In [9]:
#calculate the age avg, min and max

average_patient_age = round(hema_csv['AGE'].mean(),2)

print(f'Average Age is: {average_patient_age}')

max_patient_age = round(hema_csv['AGE'].max(),2)

print(f'Oldest Patient Age: {max_patient_age}')

min_patient_age = round(hema_csv['AGE'].min(),2)

print(f'Youngest Patient Age: {min_patient_age}')

Average Age is: 46.64
Oldest Patient Age: 99
Youngest Patient Age: 1

In [11]:
# find all the Patients within the healthy range for Hemaglobin
#safe zone for Men is 13.2 to  16.6 grams

healthy_range_of_male_patients = hema_csv[(hema_csv['HAEMOGLOBINS'] >= 13.2) & (hema_csv['HAEMOGLOBINS'] <= 16.6)]

num_of_healthy_male_count = len(healthy_range_of_male_patients)

print(f'Number of Healthy Males: {num_of_healthy_male_count}')

print(healthy_range_of_male_patients)

Number of Healthy Males: 1448
      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  LEUCOCYTE  THROMBOCYTE   MCH  \
1            44.6          14.0         6.86        6.3          232  20.4
2            42.9          14.0         4.57        6.2          336  30.6
3            41.9          14.4         4.67        3.5          276  30.8
4            40.6          13.3         4.85       14.9          711  27.4
12           47.8          15.6         5.70        7.1          122  27.4
...           ...           ...          ...        ...          ...   ...
3297         44.7          15.5         5.06        5.7          256  30.6
3301         43.7          13.8         5.02        6.2          297  27.5
3302         43.1          14.3         5.24        5.5           55  27.3
3304         39.0          13.2         4.45        4.0           50  29.7
3307         43.4          15.2         5.29       10.1          326  28.7

      MCHC   MCV  AGE SEX  SOURCE
1     31.4  65.0   36   M       0
2     32.6  93.9   70   F       0
3     34.4  89.7   18   F       0
4     32.8  83.7   36   M       0
12    32.6  83.9   53   M       1
...    ...   ...  ...  ..     ...
3297  34.7  88.3   40   M       0
3301  31.6  87.1   52   F       1
3302  33.2  82.3   22   M       1
3304  33.8  87.6   45   M       1
3307  35.0  82.0   33   M       0

[1448 rows x 11 columns]

In [12]:
# find all the Patients within the healthy range for Hemaglobin for Females
#safe zone for Women is 11.6 to 15 grams

healthy_range_of_female_patients = hema_csv[(hema_csv['HAEMOGLOBINS'] >= 11.6) & (hema_csv['HAEMOGLOBINS'] <= 15)]

num_of_healthy_female_count = len(healthy_range_of_female_patients)

print(f'Number of Healthy Feales: {num_of_healthy_female_count}')

print(num_of_healthy_female_count)

Number of Healthy Feales: 1962
1962

In [14]:
#unhealthy males

unhealthy_range_of_male_patients = hema_csv[(hema_csv['HAEMOGLOBINS'] < 13.2) | (hema_csv['HAEMOGLOBINS'] > 16.6)]

num_of_unhealthy_male_count = len(unhealthy_range_of_male_patients)

print(f'Number of Un-Healthy Males: {num_of_unhealthy_male_count}')

print(unhealthy_range_of_male_patients)

Number of Un-Healthy Males: 1861
      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  LEUCOCYTE  THROMBOCYTE   MCH  \
0            33.8          11.1         4.18        4.6          150  26.6
5            32.8          11.2         3.94       11.0          324  28.4
6            21.9           7.3         3.06       22.6          237  23.9
7            38.4          12.3         4.37        9.0          193  28.1
8            27.9           9.2         3.13       19.2          135  29.4
...           ...           ...          ...        ...          ...   ...
3300         34.7          11.8         4.07        7.4          280  29.0
3303         34.3          11.2         4.41       11.0          103  25.4
3305         25.4           8.2         3.27        5.4           90  25.1
3306         38.2          12.4         4.40        8.4          328  28.2
3308         32.4          10.7         3.66        9.4          214  29.2

      MCHC   MCV  AGE SEX  SOURCE
0     32.8  80.9   33   F       1
5     34.1  83.2   89   F       0
6     33.3  71.6   53   M       0
7     32.0  87.9   74   M       1
8     33.0  89.1   56   M       1
...    ...   ...  ...  ..     ...
3300  34.0  85.3   42   F       1
3303  32.7  77.8    8   F       0
3305  32.3  77.7    1   F       1
3306  32.5  86.8   64   M       0
3308  33.0  88.5   72   F       1

[1861 rows x 11 columns]

In [15]:
#unhealthy females

unhealthy_range_of_female_patients = hema_csv[(hema_csv['HAEMOGLOBINS'] < 11.6) | (hema_csv['HAEMOGLOBINS'] > 15)]

num_of_unhealthy_female_count = len(unhealthy_range_of_female_patients)

print(f'Number of Un-Healthy Females: {num_of_unhealthy_female_count}')

print(unhealthy_range_of_female_patients)

Number of Un-Healthy Females: 1347
      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  LEUCOCYTE  THROMBOCYTE   MCH  \
0            33.8          11.1         4.18        4.6          150  26.6
5            32.8          11.2         3.94       11.0          324  28.4
6            21.9           7.3         3.06       22.6          237  23.9
8            27.9           9.2         3.13       19.2          135  29.4
10           30.5          10.0         3.46        7.3          230  28.9
...           ...           ...          ...        ...          ...   ...
3297         44.7          15.5         5.06        5.7          256  30.6
3303         34.3          11.2         4.41       11.0          103  25.4
3305         25.4           8.2         3.27        5.4           90  25.1
3307         43.4          15.2         5.29       10.1          326  28.7
3308         32.4          10.7         3.66        9.4          214  29.2

      MCHC   MCV  AGE SEX  SOURCE
0     32.8  80.9   33   F       1
5     34.1  83.2   89   F       0
6     33.3  71.6   53   M       0
8     33.0  89.1   56   M       1
10    32.8  88.2   62   M       1
...    ...   ...  ...  ..     ...
3297  34.7  88.3   40   M       0
3303  32.7  77.8    8   F       0
3305  32.3  77.7    1   F       1
3307  35.0  82.0   33   M       0
3308  33.0  88.5   72   F       1

[1347 rows x 11 columns]

In [20]:
#Male or Female, who has the highest concentration of LEUCOCYTE
#sum the male and female

#Male 
all_male_patients = hema_csv[hema_csv['SEX'] == 'M']

#get the sum
total_male_concentration_of_leucocyte = round(all_male_patients['LEUCOCYTE'].sum(),2)

print(f'Total Male Concentration of LEUCOCYTE: {total_male_concentration_of_leucocyte} ')

#get the average
mean_male_concentration_of_leucocyte = round(all_male_patients['LEUCOCYTE'].mean(),2)

print(f'Average Male Concentration of LEUCOCYTE: {mean_male_concentration_of_leucocyte} ')

Total Male Concentration of LEUCOCYTE: 15520.9
Average Male Concentration of LEUCOCYTE: 8.9

In [21]:
#Female 
all_female_patients = hema_csv[hema_csv['SEX'] == 'F']

#get the sum
total_female_concentration_of_leucocyte = round(all_female_patients['LEUCOCYTE'].sum(),2)

print(f'Total Female Concentration of LEUCOCYTE: {total_female_concentration_of_leucocyte} ')

#get the average
mean_female_concentration_of_leucocyte = round(all_female_patients['LEUCOCYTE'].mean(),2)

print(f'Average Female Concentration of LEUCOCYTE: {mean_female_concentration_of_leucocyte} ')

Total Female Concentration of LEUCOCYTE: 13318.8
Average Female Concentration of LEUCOCYTE: 8.5

In [22]:
#M or F has the highest total concentration of LEUCOCYTE

if total_female_concentration_of_leucocyte > total_male_concentration_of_leucocyte:
    print(f'The Female Patients have higher concentration of LEUCOCYTE ({total_female_concentration_of_leucocyte})')
else:
   print(f'The Male Patients have higher concentration of LEUCOCYTE ({total_male_concentration_of_leucocyte})')

The Male Patients have higher concentration of LEUCOCYTE (15520.9)